[Unit]
Description=Dev Box
Requires=docker.service  
After=docker.service

[Service]
ExecStart=/usr/bin/docker run -d --name devbox -v /home/core/src:/root/src -p 22 wenbinf/devbox
ExecStop=/usr/bin/docker stop devbox
