[Unit]
Description=Memcached
Requires=docker.service  
After=docker.service

[Service]
ExecStart=/usr/bin/docker run -d --name memcached -p 22 -p 11211:11211 wenbinf/memcached
ExecStop=/usr/bin/docker stop memcached
